<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="user" ng-controller="user-control">
    <script>
      const app = angular.module("user", []);
      app.controller("user-control", ($scope, $http, $window) => 
      {
        console.log($window.location.href)
        $scope.submit = function()
        {
          console.log($window.location.href)
          $window.location.href =`${$window.location.href}/retrive`
        }
       
        $scope.name = $window.location.pathname.split("/")[1]
        
      })
    </script>
    <div ng-repeat="i in obj" class="card">
       
       
      </div>
<h2 >welcome {{name}}</h2>
    <h2>CAR SUBCRIPTION MODEL</h2>
    <form   method="get">
        <button  ng-click="submit()">View Car Models</button>
    </form> 
    
</body>
</html> 